h1{
    font-weight: bold;
    color: brown;
    margin-bottom: 8px;
}

.intro{
    font-size: 16px;
}

.box{
    width: 50%;
    border: 1px solid black;
    padding: 10px;
}

.box p{
    font-size: 12px;
}
